.carousel-container{
    width: 100%;
}
.carousel{
    /* height:50% ; */
    overflow: hidden;

}
.inner{
    white-space: nowrap;
    transition: transform .2s ease;
}
.slide{
    height: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg);
    color:white;
}
.carousel-container .buttons{
    display: flex;
    justify-content: center;
}
.carousel-container .buttons button{
    padding: 10px 12px;
    outline: 0;
    border: 0;
}
button.active{
    background-color: gray;
}