.form-container{
    text-align: center;
    min-width: 600px;
    margin: auto auto;
    background-color:var(--form-bg);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    align-items: center;
    border-radius: 4px;
    animation: slide- .3s linear;

  }
  @keyframes slide- {
    from{
      transform: scale(.2) translatey(-300px) ;
    }
    to{
      transform: scale(1) translate(0);
    }
  }
  .form-container .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .form-container .header .img-form{
    padding: .5rem;
    width: 200px;
    height: 200px;
    background-color: #282c34;
    border: 5px solid gray;
  }
  .form-container .header .img-form img{
    width: 100%;
    height: 100%;
  }
  .form-container h1{
    color: white;
    text-transform: capitalize;
  }
  .form-container .form{
    padding:  .5rem .5rem;
  }
  
 .form-container .form .form-group ,.btn-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .3rem .3rem;
  }
  .form-container .form-group label{
    text-transform: capitalize;
    color: aliceblue;
    
  }
  .form-group  .checkbox-container{
    position: relative;
    font-size: 20px;
    user-select: none;
    display: block;
    cursor: pointer;
    width: 100%;
    padding-left: 25px;
    margin-left: 12px;
    margin:12px 0;
  }
  .form-group .checkbox-container .checkBox{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(248, 252, 255);
    border-radius: .2rem;
    transition:  .3s ease;
    margin-top: 5px;
  }
  .checkbox-container:hover .checkBox ~ .checkmark{
    background-color: rgb(236, 216, 212);
  }
  .checkbox-container .checkBox:checked ~ .checkmark{
    background-color: rgb(42, 153, 101);
  }
   .checkbox-container .checkmark:after{
    content: "";
    position: absolute;
    /* display: none; */
    opacity: 0;
    
  
  }
  .checkbox-container .checkBox:checked ~ .checkmark:after{
    /* display: block; */
    opacity: 1;
  }
  .checkbox-container .checkmark:after{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    width: 5px;
    height:10px;
    border: solid rgb(255, 236, 236) ;
    border-width: 0 3px 3px 0;
  }
  .form-container  .form .form-input{
    padding: .5rem .5rem;
    outline: 0;
    border: 0;
    border-radius: 4px;
  }
  .form-input:focus{
    box-shadow:inset 0 -3px 0px 0 gray;
  }
  .btn-content .form-btn{
    background-color: #063358;
    text-transform: capitalize;
    padding: .5rem 1rem;
    float: right;
    clear: both;
    border-radius: 4px;
    color: aliceblue;
    letter-spacing: 1px;
    border: 0;
    transition: .1s ease;
  }
  .form-btn:hover{
    background-color: rgb(25, 93, 119);
    box-shadow: 0px 10px 100px 1px rgb(138, 123, 123);
  }
  .form-btn:active{
    transform: translateY(2px);
    box-shadow: 0 0 2px 1px rgb(243, 240, 240);
  
  }
  .form-link{
    color: white;
  }
  .form-link:hover{
    color: rgb(255, 255, 255);
  }
  .form-link:visited{
    background-color: #237b7b;
  }
  @media screen and (max-width:900px) {
      .form-container{
        min-width: fit-content;
        flex-direction: column;
      }
     .form-container .form-group{
        margin: .9rem .3rem;
        align-items: flex-start;
      }
      .form-input{
        padding: .7rem .6rem;
        margin: 0rem .6rem;
      }
      .form-group:last-child(){
        margin: .9rem 0;
        padding: 10px;
      }
  }