h1,h2,h3,h4,h5{
    text-transform: capitalize;
}
.fade-in{

    animation: fade-in .2s linear;
}
.page-container{
/* display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto;
column-gap: 10px; */
display: flex;
/* padding-top:90px; */
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
    
}
.page-container .main-form-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    padding: .1rem .1rem;
}
.page-container .main-form-container  .picture-container{
    overflow-y: auto;
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 2px;
}

.page-container .main-form-container  .picture-container .preview-image{
    place-self: center;
    width: 15vmin;
    height: 15vmin;
    margin: .1rem;
    /* overflow: hidden; */
}
.page-container .main-form-container .picture-container .category-preview-img{
        width: 35vmin;
    height: 25vmin;

}
.page-container .main-form-container .picture-container .preview-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-container .main-form-container  .product-content{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: .5rem .5rem;
    z-index: 9999999;
    overflow-y: scroll;
    color: gray;
    animation: slide- .3s ease;
}
.main-form-container .product-content span {
    float: right;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.main-form-container .product-content span:hover{
     color: red;
 }
.main-form-container .product-content .productImg .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto; */
    column-gap: 10px;
    row-gap: 10px;
}
.main-form-container .product-content .productImg .images .img{
    /* display: flex; */
    place-self: center;
    width: 25vmin;
    height: 25vmin;
}
.main-form-container .product-content .productImg .images .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
table{
    width: 100%;
border-collapse: collapse;
text-align: center;
overflow: auto;
overflow-wrap: anywhere;
margin-top: 20px;
}
table thead tr th{
    padding: .5rem .5rem;
    border: 1px solid gray;
}
table tbody tr{
    padding: .3rem .3rem;
    border: 1px solid gray;
    cursor: pointer;
    transition: all .2s ease;
}
table tbody tr:nth-child(odd){
    background-color: rgb(51, 51, 122);
    color: white;
}
table tbody tr:hover{
    background-color: rgb(128, 173, 209);
}
table tbody tr td{
    border: 1px solid gray;
    padding: .2rem 0;
    z-index: 1;
}
table tbody tr td button{
    z-index: 2;
}
 button{
    padding: 3px 6px;
    background: var(--dark);
    color: white;
    border-radius: .2rem;
    outline: 0;
    border: 0;
    /* box-shadow: inset 0 0 10px 1px rgba(116, 114, 114, 0.6); */
}
button:hover{
    transform:translateY(-2px) scale(.9);
    
}
button:active{

    transform:translateY(2px) scale(.8);
}
table tbody tr td:last-child button{
    background: var(--danger);
}
