.card{
    width: calc(100% - 20px);
    margin: 0 10px;
    border: 2px solid gray;
    
}
.card .card-header{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .3rem ;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}
.card .card-body{
    padding: .6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.card-body .product{
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width: 35vmin;
    height: 40vmin;
    background: var(--light);
}
.card-body .product-img{
    width: 100%;
    height: 50%;
}
.card .card-body .product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* mix-blend-mode:hard-light; */
}
