.cart-page-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.cart-page-container .cart-item{
    width: 50%;
    padding: 10px;
    margin: .2rem ;
    display: flex;
    flex-direction: column;
}
.cart-header{
    display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: .3rem;
    background-color: var(--light);
    justify-content: space-between;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.7);
}
.cart-footer{
    margin-top:  auto;
}
.cart-footer button::before{
    content: "";
    display: table;
    clear: both;
}
.cart-footer button.btn{
    float: right;
}
.cart-item.left{

    border-radius: .3rem;
    /* width: 40%; */
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.7);
}
.cart-item.right{
    position: -webkit-sticky;
    top: 10%;
    right: 0;
    border-radius: .3rem;
    /* width: 40%; */
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.7);
}
.cart-item.right .cart-quantity{
    /* display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: .3rem;
    background-color: var(--light);
    justify-content: space-between;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.7); */
}
.cart-item.right .cart-quantity h4{
    background-color: var(--bg-green);
    color: var(--light);
    width:  30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.cart-item.right .cart-price .items{
    margin: .3rem;
    padding: .3rem;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.7);
    background-color: var(--light);
}

.cart-item.right .cart-price .items h3{
    background-color: var(--bg-green);
    padding-left: 10px;
    text-transform: capitalize;
    color: var(--light);
}
.cart-item.right .cart-price .items h4{
    position: relative;
    padding: 2px 30px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-decoration:underline;
}
.cart-item.right .cart-price .items h4::before{
    content: "> ";
    position: absolute;
    left: 0;
    padding: 2px 20px;
    color: var(--bg-green);
}
details summary{
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}