.product-details-container{
    display: flex;
    /* padding: 1.4vmin; */
    
    
}
.product-details-container .product-img-preview{
    display: flex;
    flex-direction: column;
    box-shadow:inset 0 0 3px 0 black; 
    width: 40%;    
    padding: .3rem;
    margin: .3rem;
    border-radius: .3rem;
    height: 450px;
}
.product-details-container .product-img-preview .images{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    height: 90%;
}

.product-details-container .product-img-preview .images .vertical-img-stack{
    width: 80px;
    background-color: rgb(213, 217, 208);
    overflow-y: auto;
    height: 100%;
}
.product-details-container .product-img-preview .images .vertical-img-stack .thumbnail{
    width: 60px;
    height: 80px;
    margin: .6rem auto;
    box-shadow: 0 0 3px 0 black;
    cursor: pointer;
}
.product-details-container .product-img-preview .images .vertical-img-stack .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-details-container .product-img-preview .images .picture-preview{
    
    width: 80%;
    height: 100%;
}
.product-details-container .product-img-preview .images .picture-preview .preview{
    /* min-width: 30vmin;
    min-height: 30vmin; */
    /* max-height: 30vmin;
    max-width: 30vmin;
     */
    height: 100%;
}
.product-details-container .product-img-preview .images .picture-preview .preview img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-details-container .product-img-preview .buttons{
    place-self: center;
    margin-top: auto ;
}
.product-details-container .product-img-preview .buttons .btn{
    place-self: center;
    padding: 10px 12px;
    background-color: var(--warning);
    outline: 0;
    border: 0;
    margin: .3rem;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.product-details-container .product-img-preview .buttons .btn:first-child{
    background-color: var(--success);
}
.product-details-container .product-description {
    padding: 10px;
    width: 60%;
}
.product-details-container .product-description .breed ul {
    list-style-type: none;
    display: flex;
}

.product-details-container .product-description .breed ul li{
    color: rgb(118, 113, 113);
}
.product-details-container .product-description .breed ul li a {
    text-transform: capitalize; text-decoration: none;
    color: var(--dark);
}
.product-details-container .product-description .product-details{

}
.product-details-container .product-description .product-details .rating{
    display: flex;
    align-items: center;
}

.product-details-container .product-description .product-details .rating .rating-count{
    background-color: rgb(17, 63, 63);
    color: white;
    border-radius: 20px; 
    padding: .3rem;
    margin:.3rem; 
    font-weight: bold;
}

.product-details-container .product-description .product-details .rating .rating-number{
    font-weight: bold;
    color: rgb(123, 120, 123);
}

.product-details-container .product-description .product-details .price-container{
    display: flex;
    align-items: center;
}
.product-details-container .product-description .product-details .price-container .price{
    margin: .3rem;
    color: var(--dark);
}
.product-details-container .product-description .product-details .price-container .discount{
    color: var(--bg-green);
    font-weight: bold;
}
.product-details-container .product-description .product-details .available-offers .offer p,
.product-details-container .product-description .product-details .description p
{
    color: var(--dark);
}
.product-details-container .product-description .product-details .available-offers .offer p::before{
    content: ">";
    color: var(--bg-green);
    font-weight: bold;
    margin:3px 3px;
    text-align: center;
    line-height: 30px;
}