label {
  color: var(--bg-green);
  font-weight: bold;
}

:root {
  --modal-width: 80;
}

.modal-main{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 99999999;
  top: 0;
  left: 0;
}
.modal {
  position: absolute;
  top: 5%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
  /* width: 100px; */
    width: 120vmin;
  /* height: 60vmin; */
  margin: auto;
  /* padding: .5rem .3rem; */
  overflow-y: auto;
  animation: slide- .3s ease;
  /* margin: auto; */
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.938);
  /* justify-content: center; */
  /* background-color: rgb(5, 70, 66); */
  background-color: whitesmoke;
  border-radius: .2rem;

}

@keyframes slide- {
  from {
    transform: translate(-50%, -100%) scale(.8);
  }

  to {
    transform: translate(-50%, 0%) scale(1);
  }

}

.modal .modal-header {


  /* max-width: calc(var(--modal-width) * 1vmin); */
  width: 100%;
  /* margin: auto; */
  color: white;
  color: rgb(23, 76, 85);
  padding: .3rem;
  display: flex;
  justify-content: space-between;

  background-color: rgb(231, 241, 243);
  align-items: center;
  /* border-radius: .2rem; */

}

.modal .modal-body {
  padding: 1.3rem 1.6rem;
  display: flex;
  /* border-radius: .4rem; */
  /* overflow-y: auto; */
  justify-content: space-around;
  animation: fade .3s ease;
  /* place-self: center; */
  /* box-shadow: 0 0 20px 5px rgb(53, 41, 41); */
}

@keyframes fade {
  from {
    opacity: 0;
    ;
  }

  to {

    opacity: 1;
  }
}


.modal .modal-body .content {
  width: 50%;
  /* box-shadow: inset 0 0 10px 2px white; */
  border-radius: 10px;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.modal .modal-body .content  div.toggle-form{
  border-radius: .2rem;
  /* width: 59%; */
}
.modal .modal-body .content  div.toggle-form .toggle-buttons {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--lightblue);
  
}
.modal .modal-body .content .toggle-form div.toggle-buttons h4{

  margin: .2rem;
  border-radius: .2rem;
  padding: .6rem .4rem;
  cursor: pointer;
  text-align: center;
  color: var(--light);
}
.modal .modal-body .content p span {
  cursor: pointer;
}

.modal,
.modal-body h4 {
  color: rgb(57, 44, 44);
}

.modal form {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* margin: auto; */

  /* margin: auto auto; */
  padding: .3rem .6rem;
  border-radius: .3rem;
  /* box-shadow: 0 10px 50px 20px rgba(0, 0, 0, 0.579); */
}

.form-group {
  /* display: grid; */
}
.form-group label {
  position: relative;
}
.form-group label .error {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.form-group .social-media{
  /* place-self: center; */
}
.form-group .social-media div{
  display: flex;
}
form > .form-group .social-media  div  button {
  padding: 6px;
  margin: 4px 4px;
  width: 50%;
  text-transform: capitalize;
  border-radius: .3rem;
  background-color: rgb(171, 195, 195);
  color: rgb(23, 83, 120);
  /* background-color: black; */
}
.close {
  color: rgb(7, 0, 0);
  cursor: pointer;
  font-weight: bold;
}

.close:hover {
  transform: scale(1.2);
}

.close:active {
  transform: translatey(4px) scale(.8);

}

form .form-group .input-control {
  /* margin: .1rem .4rem; */
  border-radius: .2rem;
  outline: 0;
  border: 0;
  box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.669);
  padding: .4rem .6rem;
  width: 100%;
}

form .form-group .input-control:focus {
  box-shadow: inset 0 -1px 2px 1px var(--bg-green);
}

.modal form .form-group.buttons {
  /* width: 100%; */
  display: flex;
  padding: .3rem;
  /* display: grid;
  grid-template-columns: auto auto; */
  margin-top: auto;
}

.modal form .buttons .form-btn {
  background-color: black;
  text-align: center;
  text-transform: capitalize;
  color: white;
  padding: 1.8vmin 1vmin;
  outline: 0;
  margin: 0 .2rem;
  /* place-self: center; */
  border: 0;

  width: 50%;
  cursor: pointer;
}

.modal form .buttons .form-btn:first-child {
  background-color: rgb(233, 40, 6);
}

/* form>.form-group {
  display: flex;
  flex-direction: column;
} */

.fade-out {
  animation: fade-out .6s linear;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }

}

.modal.error *:not(h1, h2, h3, h4, h5) {
  color: rgb(166, 14, 14);
  /* background-color: rgb(233, 225, 225) ; */
}

.modal.error {
  background-color: rgb(248, 245, 244);
}

.modal.error .modal-header,
.modal.error .modal-body {
  /* width: calc(var(--modal-width) * 1vmin); */
  width: 100%;
}

.modal.error h4 {
  color: rgb(145, 3, 3)
}

p>span {
  color: #f68754;
  text-decoration: underline;
}