.carousel-container{
    width: 100%;
}
.carousel{
    /* height:50% ; */
    overflow: hidden;
    position: relative;

}
.inner{
    white-space: nowrap;
    transition: transform .2s ease;
}
.slide{
    height: 60vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg);
    color:white;
}
.carousel-container .buttons{

    transition: all .3s ease;
    opacity: 0;
    /* z-index: 1; */
}
.carousel-container .carousel:hover .buttons{
    opacity: 1;
}
.carousel-container .buttons button{
    padding: 30px 14px;
    position: absolute;
    outline: 0;
    border: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: .4;
    font-size: 1.9em;
    border-radius: .4rem;
    color: rgb(14, 14, 19);
    background-color: rgba(116, 112, 109, 0.699);
}
.carousel-container .buttons button:first-child{
    left: 0;
}
.carousel-container .buttons button:last-child{
    right: 0;
}
.carousel-container .buttons button:hover{
    opacity: .8;
    box-shadow: 0 0 1px 2px rgb(255, 254, 254);
}
.carousel-container .buttons button:first-child:active{
    transform: translateX(10px) translateY(-50%);
    box-shadow: -10px 0px 0px 0px rgba(230, 227, 227, 0.808);
}
.carousel-container .buttons button:last-child:active{
    transform: translateX(-10px) translateY(-50%);
    box-shadow: 10px 0px 0px 0px rgba(235, 230, 230, 0.877);
}
button.active{
    background-color: gray;
}
.slide img{
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
}
.inner .slide a{
    width: 100%;
    height: 100%;
    /* z-index: 23; */
}