.main-header{
    text-transform: capitalize;
    width: 100%;
    background-color: var(--light);
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* column-gap: 20px; */
    align-items: center;
    justify-content: space-between;
    /* height: 40px; */
    padding: 12px 10px;
    color: var(--bg-green);
    user-select: none;
    background-color: rgba(235, 231, 228, 0.829);
}
.main-header .head{
    /* width: 20%; */
    text-align: center;
    place-self: center;   
}
.main-header .head  *:not(svg){
    /* color: var(--bg-green); */
}
.main-header .search-box{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--light);
    box-shadow:  0 0 13px 0px rgba(243, 237, 237, 0.877);
}
.main-header .search-box .search{
    outline: 0;
    border: 0;
    /* width: 80%; */
    padding: 8px 10px;
    background-color: transparent;
    /* color: white; */
    border-radius: .2rem;
    box-shadow:  0 0 3px 0px rgba(5, 4, 4, 0.7);
}
.main-header .search-box button{

    box-shadow:  0 0 3px 0px rgba(5, 4, 4, 0.7);
    padding: 6px 6px;
    outline: 0;
    border: 0;
    background-color: transparent;
    /* color: var(--bg-green); */
    /* color: rgb(245, 239, 239); */
    cursor: pointer;
}
.main-header .search-box button svg{
    /* color: white; */
}
.main-header .logo a{
    text-decoration: none;
    color: var(--bg-green);
    border-radius: .5rem;
    font-size: 1.5rem;
  
    /* box-shadow: 0 0 20px 2px red; */
}
.cart-page a{
    cursor: pointer;
    color: var(--bg-green);
}