.cart {
/* width: 120vmin; */
width: 100%;
margin: .6rem 0;
background-color: var(--bg-green);
padding: 10px;
color: white;
border-radius: .2rem;
}
.cart h4{
    text-transform: capitalize;
}
.cart-body{
    display: flex;

}
.cart-body .cart-img{
    width: 20vmin;
    height: 25vmin;
    background-color: black;
}
.cart-body .cart-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-body .cart-details{
display: flex;
justify-content: space-between;
padding: .9rem;
width: 100%;
}
.cart-footer{
margin: .3rem 0;
}

.cart-footer .quantity-control{

}
.cart-footer .quantity-control .quantity{
    width: 40px;
    text-align: center;
    padding: 9px 12px;
}
.cart-footer .quantity-control button{
    outline: 0;
    border: 0;
    padding: 10px 12px;
}
button.remove-btn{
    background-color: var(--danger);
    color: white;
    text-transform: capitalize;
}
